.heading-1 {
  font-family: 'Saira';
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 70px;
  text-align: center;
  color: #282829;
  margin-bottom: 20px; }
  @media screen and (max-width: 568px) {
    .heading-1 {
      font-size: 30px;
      line-height: 47px;
      text-align: left;
      margin-bottom: 20px; } }

.heading-2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #008795;
  margin-bottom: 20px; }
  @media screen and (max-width: 568px) {
    .heading-2 {
      margin-bottom: 16px; } }

.heading-small {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #282829;
  margin-bottom: 15px; }

.heading-middle {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 46px;
  color: #282829;
  margin-bottom: 20px; }

.description-small {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #535354; }
  @media screen and (max-width: 768px) {
    .description-small {
      max-width: 355px; } }

.description-semi-small {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #535354; }

.title-active {
  text-decoration-line: underline;
  color: #008795; }

.description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #535354;
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .description {
      font-size: 20px;
      text-align: left;
      margin-bottom: 30px;
      line-height: 30px; } }

.button {
  background: #D0DD28;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #008795; }

.button-reach-out {
  padding: 17px 26px;
  background: #D0DD28;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #008795; }

.link-small {
  text-decoration-line: underline;
  color: #008795; }
