@import './shared.scss';
@import './style.scss';
@import './footer.scss';
@import './header.scss';
@import './services-page.scss';

.contact-us-wrapper {
 display: flex;
 width: 100%;
 justify-content: center;


 .contact-us-card {
  display: flex;
  width: 32.2%;
  padding: 34px;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  transition: box-shadow 0.3s linear;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;

  &:hover {
   box-shadow: 0px 4px 34px rgba(194, 217, 219, 0.6);
  }

  span {
   font-family: 'Saira';
   margin-left: 15px;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 34px;
   color: #282829;
  }
 }
}

.contact-us-business-card {
 background: #4CABB5;
 width: 100%;
 z-index: 2;
 position: absolute;
 bottom: -214px;

 .business-card-wrapper {
  padding: 48px 90px;
  display: flex;
  justify-content: space-between;

  .business-card-item {
   display: flex;
   align-items: center;

   span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    transition: text-decoration-line 0.3s linear;
    cursor: pointer;
    display: block;
    margin-left: 20px;

    &:hover {
     text-decoration-line: underline;
    }
   }
  }
 }
}

.form-support {
 display: flex;
 flex-direction: column;
 padding: 0 480px 0 200px;
 align-items: flex-start;

 span {

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #282829;
 }
}

input[type="text"] {
 padding: 10px 80px 10px 15px;
 border: 1px solid #E5E5E5;
 outline: none;
 box-sizing: border-box;
 border-radius: 8px;
}

input[type="radio"] {
 display: none;
}


input[type="radio"]+label span {
 display: inline-block;
 width: 19px;
 height: 19px;
 margin: -2px 10px 0 0;
 vertical-align: middle;
 background: url('../img/active.svg');
 background-repeat: no-repeat;
 background-position: left top;
 cursor: pointer;
}

input[type="radio"]:checked+label span {
 background: url('../img/active-check.svg');
 background-repeat: no-repeat;
}