$grey:#282829;
$blue:#008795;
$light-grey:#535354;

header {
 z-index: 2;
 background: white;
 position: relative;
 border-bottom: 1px solid #E5E5E5;
}

.header-inner {
 display: flex;
 justify-content: space-between;
 padding: 9px 0 6px 0;

 @media screen and (max-width: 1200px) {
  padding: 9px 13px 6px 12px;
 }

 @media screen and (max-width: 768px) {
  padding: 10px 70px 5px 40px;
 }
}

.menu-button {
 display: none;

 @media screen and (max-width: 546px) {
  display: block;
 }
}

.get-start-btn {
 text-decoration: none;
 padding: 12px 29px 13px 31px;
 font-weight: bold;
 font-size: 14px;
 line-height: 16px;
 color: $blue;
 background: #CAE7E9;
 border-radius: 4px;

 @media screen and (max-width: 546px) {
  display: block;
  text-align: center;
  width: 100%;
 }
}

.get-started-inner {
 display: flex;
 align-items: center;
 margin-left: 32px;

 @media screen and (max-width: 768px) {
  flex-direction: row-reverse;
  margin: 0;
 }

 @media screen and (max-width: 468px) {
  display: none;
 }

 .select-lang {
  position: relative;
  list-style: none;
  color: $blue;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  margin: 0;
  margin-left: 15px;
  padding: 0 15px;
  transition: all 0.3s linear;

  &:hover .drop-lang {
   display: block;
  }

  .drop-lang {
   position: absolute;
   display: none;
   background: #fff;
   padding: 12px 15px 5px 15px;
   left: 2px;
   top: 15px;
   border-radius: 2px;
   box-shadow: 1px 29px 23px rgba(84, 105, 107, 0.4);



   a {
    text-decoration: none;
    color: $blue;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
   }
  }

  @media screen and (max-width: 768px) {
   margin: 0;
   margin-right: 27px;
  }

  &:after {
   content: "";
   position: absolute;
   top: 5px;
   right: 3px;
   border: 3px solid;
   border-color: $blue transparent transparent transparent;
  }
 }
}

.select-lang.active .drop-lang {
 display: block
}

.menu-list.active .second-level-menu {
 @media screen and (max-width: 546px) {
  padding-bottom: 20px !important;
 }
}

.menu-list.active ::after {
 @media screen and (max-width: 546px) {
  display: none;
 }
}

.desktop-nav-menu {
 display: flex;
 align-items: center;
 margin-left: 86px;

 @media screen and (max-width: 1095px) {
  margin-left: 0px;
 }

 @media screen and (max-width: 768px) {
  margin-left: 0;
  display: none;

  &.active {
   border-top: 1px solid #E5E5E5;
   display: block;
   position: absolute;
   top: 70px;
   left: 0;
   background: #fff;
   width: 100%;
  }

  .menu {
   width: 100%;
   justify-content: space-between;
   padding: 30px 20px;

   .menu-list {
    max-width: 33.33%;

    &>a {
     font-family: 'Saira';
     font-size: 20px;
     line-height: 31px;
     padding: 0;
     margin-bottom: 15px;
    }

    &:after {
     display: none;
    }
   }

   .menu-drop {
    display: block;
    position: static;
    box-shadow: none;
    padding: 0;
    width: 100%;

    a {
     display: inline-block;
     padding: 0;
     margin-bottom: 15px;

     &:after {
      top: calc(50% - 2px);
      right: -20px;
     }
    }
   }

   .second-level-menu {
    .third-level-menu {
     display: none;
    }

    a {
     &.active {
      &:after {
       border-color: $blue transparent transparent transparent;
      }

      color: $blue;

      @media screen and (max-width: 546px) {
       color: $grey;
      }

      &+.third-level-menu {
       display: block;
      }
     }
    }
   }
  }

 }

 @media screen and (max-width: 546px) {
  .menu {
   flex-wrap: wrap;
   justify-content: flex-start;

   .second-level-menu {
    .third-level-menu {
     display: block;
    }
   }

   .menu-list {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #E5E5E5;

    >ul {
     display: none;
    }

    &>a {
     margin: 15px 0;

     &:after {
      content: "";
      position: absolute;
      top: 30px;
      right: 24px;
      border: 3px solid;
      border-color: transparent transparent transparent $grey;
      transition: 0.3s linear;
     }
    }

    &.active {
     >ul {
      display: block;
     }

     >a {
      &:after {
       display: block;
       border-color: $blue transparent transparent transparent;
      }
     }

     .nav-title {
      color: $blue;
     }
    }
   }
  }
 }
}

.desktop-nav-menu * {
 margin: 0;
 padding: 0;

 @media screen and (max-width: 546px) {
  .get-start-btn {
   padding: 14px 29px 16px 31px;
  }
 }
}

.desktop-nav-menu ul,
.desktop-nav-menu ol {
 list-style: none;
}

.desktop-nav-menu>ul {
 display: flex;
 justify-content: center;
}

.desktop-nav-menu>ul li>a i.fa {
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
 background: #FFFFFF;
 box-shadow: 0px 12px 26px rgba(84, 105, 107, 0.4);
 border-radius: 8px;
}

.desktop-nav-menu>ul li a {
 display: block;
 padding: 15px 17px 17px 17px;
 font-size: 14px;
 line-height: 16px;
 font-weight: 500;
 color: #282829;
 text-decoration: none;
 transition: all 0.3s ease;
}

.desktop-nav-menu li a:hover {
 color: $blue;
 /*   box-shadow: 1px 5px 10px -5px black; */
 transition: all 0.3s ease;
}

.menu-drop {
 z-index: 1;
}

.menu-list {
 position: relative;
 margin: 0 33px;

 @media screen and (max-width: 995px) {
  margin: 0 5px;
 }

 &:after {
  content: "";
  position: absolute;
  top: 20px;
  right: -2px;
  border: 3px solid;
  border-color: $grey transparent transparent transparent;
  transition: 0.3s linear;
 }

 &:hover:after {
  border-color: $blue transparent transparent transparent;
 }

}

/*sub menu*/
.desktop-nav-menu li ul {
 position: absolute;
 left: 0;
 background: #FFFFFF;
 box-shadow: 0px 12px 26px rgba(84, 105, 107, 0.4);
 border-radius: 8px;
 width: 230px;
 padding: 22px 4px;
 display: none;
 transition: 0.3s linear;

 /* left: -69px; -default */
 &:hover {
  border-radius: 8px 0 0 8px;
 }

 &:after {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(50% - 20px);
  width: 20px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
  transition: 0.3s linear;
  z-index: 1;
 }

}

.desktop-nav-menu .menu li:nth-child(2)>ul li a {
 &:after {
  display: none;
 }
}

.desktop-nav-menu .menu li:nth-child(3)>ul li a {
 &:after {
  display: none;
 }
}

.desktop-nav-menu li>ul li a {
 position: relative;
 transition: 0.3s linear;

 &:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 24px;
  border: 3px solid;
  border-color: transparent transparent transparent $grey;
  transition: 0.3s linear;

  @media screen and (max-width: 546px) {
   display: none;
  }
 }

 &:hover {
  text-decoration-line: underline;
 }

 &:hover:after {
  border-color: transparent transparent transparent $blue;
 }
}

.desktop-nav-menu li>ul li a {
 padding: 10px 10px 10px 25px;
 text-transform: none;
 text-align: left;

}

.desktop-nav-menu li>ul li ul li {
 @media screen and (max-width: 768px) {
  padding: 10px 25px 0 25px;
 }
}

.second-level-menu li {
 z-index: 1;
}

.desktop-nav-menu li>ul li ul {
 position: absolute;
 right: -243px;
 background: #CAE7E9;
 border-radius: 0 8px 8px 0;
 left: unset;
 box-shadow: none;
 top: 0;
 width: 250px;
 min-height: 100%;

 @media screen and (max-width: 768px) {
  border-radius: 4px;
  width: 200px;
 }

 li a {
  &:after {
   display: none;
  }
 }

 &:hover {
  border-radius: 0 8px 8px 0 !important;
 }
}

.desktop-nav-menu li:hover>ul {
 display: block;
}

/* nav-mobile */


.nav-toggle {
 display: none;
 position: absolute;
 top: 24px;
 right: 24px;
 font-size: 0;
 color: transparent;
 border: 0;
 background: none;
 cursor: pointer;
 padding: 10px 0;
 z-index: 1;
 width: 30px;

 @media screen and (max-width: 768px) {
  display: block;
 }
}

.nav-toggle:focus {
 outline: 0;
}

.nav-toggle_item {
 width: 73%;
 display: block;
 height: 2px;
 background-color: #008795;
 position: absolute;
 top: 2px;
 right: -13px;
 bottom: 0;
 left: 0;
 border-radius: 10px;
 margin: auto;
 transition: background .2s linear;

}

.nav-toggle.active .nav-toggle_item {
 background: none;
}

.nav-toggle.active .nav-toggle_item:before {
 transform-origin: left top;
 transform: rotate(45deg) translate3d(2px, -2px, 0);
 transition: transform .2s linear;
}

.nav-toggle.active .nav-toggle_item:after {
 transform-origin: left bottom;
 transform: rotate(-45deg) translate3d(0px, 4px, 0);
 transition: transform .2s linear;
}

.nav-toggle_item:before,
.nav-toggle_item:after {
 content: "";
 width: 100%;
 height: 2px;
 position: absolute;
 border-radius: 10px;
 background-color: #008795;
 left: 0;
 z-index: 1;

}

.nav-toggle_item:before {
 top: -6px;
}

.nav-toggle_item:after {
 bottom: -6px;
}

.menu .menu-list:nth-child(3) {
 @media screen and (max-width: 546px) {
  margin-bottom: 60px;
 }
}


.mobile-inner {
 position: relative;
 width: 76%;
 padding: 53px 20px;
 background: white;
 height: 100vh;

}

.nav {
 @media screen and (max-width: 768px) {
  display: none;
  width: 75%;
  position: absolute;
  top: 95%;
  left: 0;
  background: white;

 }
}

@media screen and (max-width: 768px) {
 .nav.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 40vh;
  align-items: start;
  border-top: 1px solid #E5E5E5;
 }
}